{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <base href="{% static 'geral/img/' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/short-icon.png'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>WLNutrion</title>
</head>
<body>
    <div class="container-pai-de-todos">
        <nav class="container-navbar">
            <div class="navbar-content">
                <div class="logo">
                    <img src="{% static 'img/logo.png'%}">
                </div>
    
                <div class="nav-items flex">
                    <ul>
                        <li><a href="{% url 'cadastroLogin' %}">Criar Conta</a></li>
                    </ul>
                    <a href=" {% url 'login' %} "><button class="btn-redondo btn-login">Entrar</button></a>
                </div>
            </div>
        </nav>
    
            <section>
                <div class="container-info">
                    <div class="section-info flex">
                        <div class="section-info-text">
                            <div class="section-info-text-title">
                                <h1>Faça a Sua Tabela Nutricional!</h1>
                            </div>
                            <div class="section-info-text-p">
                                <p>Somos uma plataforma que te <br> ajuda a gerar rótulos nutricionais, <br> calcular e criar receitas gastronômicas.</p>
                            </div>
                        </div>
                        <div class="section-info-image">
                            <img src="{% static 'img/image-info.png'%}">
                        </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="container-recursos">
                    <div class="recursos-title">
                        <h1>Recursos do Sistema</h1>
                    </div>
    
                    <div class="recursos-content flex">
                        <div class="recursos-item flex">
                            <div class="recursos-item-image">
                                <img src="{% static 'img/icon-Sg.png'%}">
                            </div>
                            <div class="recursos-item-content">
                                <div class="recursos-item-title">
                                    <h1>Sistema Gratuito</h1>
                                </div>
                                <div class="recursos-item-p">
                                    <p>Crie sua tabela de forma totalmente gratuita.</p>
                                </div>
                            </div>
                    </div> <!-- FIM ITEM 1 -->
    
                        <div class="recursos-item flex">
                            <div class="recursos-item-image">
                                <img src="{% static 'img/icon-BI.png'%}">
                            </div>
                            <div class="recursos-item-content">
                                <div class="recursos-item-title">
                                    <h1>Base de ingredientes</h1>
                                </div>
                                <div class="recursos-item-p">
                                    <p>Utilizamos as bases de alimentos TBCA e TACO para usar na sua tabela nutricional.</p>
                                </div>
                            </div>
                        </div><!-- FIM ITEM 2 -->
    
                        <div class="recursos-item flex">
                            <div class="recursos-item-image">
                                <img src="{% static 'img/icon-anvisa.png'%}">
                            </div>
                            <div class="recursos-item-content">
                                <div class="recursos-item-title">
                                    <h1>Normas da ANVISA</h1>
                                </div>
                                <div class="recursos-item-p">
                                    <p>Padrões das resoluções 359/03,<br>360/03, 429/20 e IN75/20 da ANVISA.  </p>
                                </div>
                            </div>
                        </div><!-- FIM ITEM 3 -->
    
                        <div class="recursos-item flex">
                            <div class="recursos-item-image">
                                <img src="{% static 'img/icon-MR.png'%}">
                            </div>
                            <div class="recursos-item-content">
                                <div class="recursos-item-title">
                                    <h1>Modelos de Rótulos</h1>
                                </div>
                                <div class="recursos-item-p">
                                    <p>Vertical A, Vertical B e Linear</p>
                                </div>
                            </div>
                        </div><!-- FIM ITEM 4 -->
    
                        <div class="recursos-item flex">
                            <div class="recursos-item-image">
                                <img src="{% static 'img/icon-AI.png'%}">
                            </div>
                            <div class="recursos-item-content">
                                <div class="recursos-item-title">
                                    <h1>Adicione ingredientes</h1>
                                </div>
                                <div class="recursos-item-p">
                                    <p>Caso não tenha o ingrediente que deseja, você pode adicionar-lo através da tabela nutricional do ingrediente.</p>
                                </div>
                            </div>
                        </div><!-- FIM ITEM 5 -->
    
                        <div class="recursos-item flex">
                            <div class="recursos-item-image">
                                <img src="{% static 'img/icon-LR.png'%}">
                            </div>
                            <div class="recursos-item-content">
                                <div class="recursos-item-title">
                                    <h1>Livro de Receitas</h1>
                                </div>
                                <div class="recursos-item-p">
                                    <p>Organize todas as suas receitas,<br>de maneira simples.</p>
                                </div>
                            </div>
                        </div><!-- FIM ITEM 6 -->
    
                    </div>
                </div>
            </section>
    
            <footer class="flex">
                <div class="logo-footer">
                    <img src="{% static 'img/logo-white-footer.png'%}">
                </div>
                <div class="footer-text">
                    <h1>WEB LABEL NUTRION</h1>
                </div>
            </footer>


    </div>

</body>
</html>