    /* STYLE DA TABELA HORRIZONTAL */
    /*##################################################################################*/

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, Helvetica;
    }

    .containerListaItensTabela {
        max-width: 700px;
        width: 100%; 
        text-align: left; /* Alinha texto à esquerda */
        margin-top: -5px;
        font-size: small;
    }

    .content_dominio{
        display:table-column;

    }

    .dominio{
        text-align: end;
        display: flex;
        font-size: larger;
        justify-content: end;
    }

    .linha_dominio{
        font-size:40px;
        width: 100%;
    }

    .content-rotulos {
        display: flex; 
        font-size: 20px;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        min-height: 100vh; 
        padding: 40px; 
        box-sizing: border-box; 
        background-color: #f9f9f9;
    }


    .logo img{
        width:100px;
        margin-left: 30px;
        margin-top: 20px;

    }
    .thead{
        border-bottom: 3px solid
    }
 
    .tabela-nutricional-horizontal {
        background-color: #fff;
        padding: 10px;
        border: 4px solid;
        width: auto;
        margin-top: 12px;
        display: flex;
        height: 350px;
    }


    .tabela-nutricional-horizontal h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .tabela-nutricional-horizontal p {
        font-size: 0.9em;
        text-align: left;
        margin: 5px 0;
        
    }

    .tabela-nutricional-horizontal table {
        width: 100%;
        border-collapse: collapse;
        margin-left: 8px;
        
    } 

    .tabela-nutricional-horizontal table th tr{
        border: 1px solid black;


    }

    .tabela-nutricional-horizontal thead th {
        text-align: right;
        padding: 10px;
        white-space: nowrap;
        border-left: 2px solid black;   

    }
    .percentual {
        font-size: small;
        white-space:nowrap;
        font-weight:400;
        
    }

    .tabela-nutricional-horizontal tbody{
        
        border-collapse: collapse;
        border-bottom: none;
    }

    .tabela-nutricional-horizontal tbody tr{
    border: none;
    white-space: nowrap;
    
    }

    .tabela-nutricional-horizontal tbody td {
        width: 70%;
        border-bottom: 80px solid #ddd;
        text-align: end;
        padding-right:10px ;
        padding-left: 20px; 
        border: 1px solid black;
        border-top: none;
        border-right: none;
        white-space: nowrap;
        
    
    }
    .tabela-nutricional-horizontal table tr:first-child{
        border-left: none;        
        
    }
    .tabela-nutricional-horizontal thead th:first-child {
        border-left:none ;
    }

    .tabela-nutricional-horizontal tbody tr:last-child td {
        border-bottom: solid 2px black;
        
    }

    .tabela-nutricional-horizontal tbody td:nth-child(13){
        margin-left: 10px;
        
    }
    .tabela-nutricional-horizontal tbody tr td:first-child {
        text-align: left; /* Alinhe o texto à esquerda ou conforme necessário */
        font-size: smaller;
        padding-left: 2px; /* Opcional: Ajustar espaçamento */
        border-left: none;
        border-right: none;
        
        
    }

    /*FIM STYLE DA TABELA HORRIZONTAL */
    /*##################################################################################*/
