*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins";
}

:root{
    --shadow-header:#DEDEDE;
    --cor-black:#000000;
    --cor-laranja:#EE7828;
    --cor-branca:#FFFFFF;
    --cor-cinza:#545454;
    --cor-cinza-light:#9F9F9F; /* Usado nos formularios , icons da navbar*/
    --cor-cinza2:#838383; /*usado no butão de voltar*/
    --cor-cinza3:#F0F0F0;
    --cor-verde:#30BE57;
    --cor-verde-escura:#20903F;
}

.contentInputEmailCriarConta{
    flex-direction: column;
    position: relative;
}

#msgValidaEmail{
    position: absolute;
    bottom: 0;
    color: red;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    gap: 5px;
    align-items: center;
}

/* POPUP*/
.popup {
    display: none;
    width: 320px;
    height: 250px;
    background-color: #fff;
    border-radius: 15px;
    position: fixed;
    top: 20%;
    left:50%;
    transform: translate(-50%, 50%);
    text-align: center;
    padding: 0 30px 30px;
    background-color: #d4d4d4;
}
.popup img {
    width: 60px;
    margin: 15px 0 10px;
    align-items: center;
}
.popup h2 {
    font-size: 24px;
    font-weight: 400;
    padding:5px;
}
.popup button {
    border: none;
    width: 40%;
    height: 20%;
    background-color: #30BE57;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/*FIM POPUP*/

/*BTN BAIXAR APP*/
.section-btn-baixar-app{
    justify-content: flex-start;
}
.btn-baixar-app{
    width: 200px;
    padding: 6px;
}
/**/


/* CLASSES GERAIS */
.flex{
    display: flex;
}
.btn-redondo{
    border: none;
    border-radius: 14px;
    background-color: #EE7828;
    cursor: pointer;
    color: var(--cor-branca);
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-quadrado{
    border: none;
    background: var(--cor-laranja);
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}
.btn-verde{
    color: #FFFFFF;
    background-color: #30BE57;
    width: 100px;
    border: none;
    padding: 3px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.btn-verde:hover{
    background-color: #20903F;
}
/*  */


/* HEADER */
.container-navbar{
    width: 100%;
    height: 12vh;
    /*box-shadow: 0px 2px rgb(223, 223, 223);*/
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-content{
    width: 100%;
    padding:20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width:50px;
}
.user-navbar{
    opacity: 50%;
}
.nav-items{
    align-items: center;
    gap:20px;
}
.nav-items ul{
    list-style: none;
}
.nav-items li a{
    color: var(--cor-black);
}
.btn-login{
    width: 70px;
    height: 30px;
}
/* FIM HEADER */


/* SECTION INFO */
.container-info{
    width: 100%;
    margin:40px 0px;

    display:flex;
    justify-content: space-between;
}
.section-info{
    width:100%;
    justify-content: space-evenly;
}
.section-info-text{
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.section-info-text-title h1{
    font-weight: 500;
}
/* FIM SECTION */


/* SECTION RECURSOS */
.container-recursos{
    width: 100%;
    margin-top: 6rem;
}
.recursos-title h1{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom:2rem;
}
.recursos-item{
    width:400px;
    padding:30px;
}
.recursos-content{
    justify-content: space-between;
    flex-wrap:wrap;

    padding:20px;
}
.recursos-item-image img{
    width: 80px;
}
.recursos-item-content .recursos-item-title h1{
    font-size: 20px;
    font-weight: 500;
}
.recursos-item-content .recursos-item-p p{
    flex-wrap:wrap;
    font-size:14px;
}
/* FIM SECTION RECURSOS */


/* FOOTER PAGINA INICIAL */
footer{
    width: 100%;
    height:15vh;

    background-color: var(--cor-laranja);
    align-items: center;
    gap:30px;
    padding:20px;
}
.logo-footer img{
    width:50px;
}
.footer-text h1{
    color:white;
    font-size:24px;
    font-weight: 400;
}
/* FIM FOOTER PAGINA INICIAL */

/* LOGIN  */

button.setavolta{
  background-color: transparent; 
  border: none; 
  padding: 0;
  cursor: pointer; 
}

/* Estilos da .content-branco */
 .container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
 }
.logoLogo{
    display: block;
    position: absolute;
    left: 0;
    top:0;
    margin: 70px ;
    width: 5%;
    height:auto;
}

.seta{
    display: block;
    position: absolute;
    left: 0;
    top:0;
    margin: 20px ;
    width: 10%;
    height:auto;
}

form.campo{
    width: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.inputsBranco{
    margin-bottom: 40px;
    text-align:left;
    color:#EE7828;
    border:#9F9F9F solid 2px;
    padding-block: 10px;
    padding-left: 50px;
    font-size:larger;
    border-radius: 18px;
    position:relative;
    width:300px;
}
.inputsBranco:focus{
  border-color:#EE7828; /* Cor da borda quando selecionado */
    outline: none; /* Remove o contorno padrão do navegador */
}

#entrar{
    text-align: center;
    width: 70%;
    font-size: larger;
} 

.content-branco {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: #FFFF;
    width: 50%;
    height: 100vh;
}

.content-laranja{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EE7828;
    width: 50%;
    height: 100vh;
}

p.descricao{ 
    display: flex;
    padding:35px ;
    justify-content: center;
    align-items: center;
    color: #FFFF ;
}

button.btn{
    color: white;
    background-color:#EE7828;
}

/*input do botao entrar laranja  */
input[type="submit"]{
    padding-block: 2px;
    padding-inline: 40px;
    color:#FFFFFF;
    background-color: #EE7828;
    border-radius: 80px;
    border:1px;
    font-size: xx-large;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.ola{
    padding-bottom: 10px;
    font-weight: 400;
}

/* imagens dentro dos inputs do formulari na parte branca */
img.usuario{
    position:absolute;
    left: 16px; ;
    top:14px;
}

img.cadeado{
    position:absolute;
    left: 16px; ;
    top: 14px;
}

img.email{
    position:absolute;
    left: 16px; ;
    top:14px;
}
.conteudoInputs{
    position: relative;
    display: flex;
    justify-content: center;
}


 /* CSS DO CARROSSEL  */
#h2carrossel{
    color: #000000;
    position: absolute;
}

#carrosselM{
    height: 400px;
    margin: 0;
    display: grid;
    grid-template-rows: 330px 70px;
    grid-template-columns: 1fr 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 50vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    --items: 3;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  /* ^^^^^^^^^^^^^^^^^^ o segundo men debntro do primeiro man carrossel  */
  
  div.item {
    position: absolute;
    width: 50%;
    height: 300px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    z-index: calc((var(--position) - var(--abs)));   
  }
  h2#txtlaranja{
    height: 400px;
    display:flex;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content:center;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 300;
  }

  /* ############################################################################ */
  /* Estilizando os radio buttons dentro da div content-laranja */
.content-laranja input[type="radio"] {
    -webkit-appearance: none; /* Removendo a aparência padrão do navegador */
    -moz-appearance: none;
    appearance: none;
    width: 20px; /* Definindo a largura dos botões de rádio */
    height: 20px; /* Definindo a altura dos botões de rádio */
    border-radius: 50%; /*Fazendo os botões de rádio circular*/
    border: 2px solid white; /* Definindo a cor da borda dos botões de rádio */
    background-color:#EE7828; /* Definindo a cor de fundo dos botões de rádio */
    outline: none; /* Removendo o contorno ao focar */
    cursor: pointer; /* Mudando o cursor ao passar por cima */
  /* margin-right: 10px; Adicionando um espaço entre os botões de rádio */
}

/* Estilizando os radio buttons quando estão marcados */
.content-laranja input[type="radio"]:checked {
  background-color:white; /* Mudando a cor de fundo dos botões de rádio marcados */
}
/* ################################################################################### */
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #EE7828;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #EE7828;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #EE7828;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  

  /* AREA DAS MIDIAS LOGIN */
 
@media screen and (max-width:820px){
/* tela de celulares */
    .content-laranja{
        display: none;
      }

    .logoLogo{
        display: none;
    }
    .campo{
        max-width: 80%;
    }    
    .inputs{
        max-width: 80%;
    }
    #entrar{
        width:130%;
    }
    .ola{
        padding-bottom: 10px;
    }

    img.email{
        position:absolute;
        left: 15px; 
        top:14px;
    }
    img.cadeado{
        position:absolute;
        left: 15px; 
        top: 14px;
    }
    img.usuario{
        position:absolute;
        left: 15px; 
        top:14px;
    }
    #entrar{
        width: 140%;
    }

}
@media screen and (min-width:600px){
    /* telas de comutadores */
    .seta{
        display: none;
   
        }
}

/* FIM LOGIN */


/* CONTAINER PRINCIPAL  */
.container-principal{
    width: 100%;
    /* height: 84vh; */
}
.nav-left{
    width: 8rem;
    height: 88vh;

    /*box-shadow: 2px 2px rgb(223, 223, 223);*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.nav-items-lateral{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.item-lateral img{
    width: 40px;
    height: 40px;
    padding: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.active{
    background-color: #efefefc3;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#image-sidebar{
    width: 45px;
    height: 45px;
}
.content{
    width: 100%;
    height: 84vh;
    overflow-y: auto;
}
/* FIM CONTAINER PRINCIPAL*/


/* CONTENT - DASHBOARD */
.container-pai-de-todos{
    width: 100%;
    overflow: hidden;
}
.content-title{
    width: 100%;
    padding:10px;
    text-align: center;
}
.content-title > h1{
    font-size: 24px;
    font-weight: 400;
}
.dashboard{
    width: 100%;  
    gap: 40px;
    justify-content: center;
    padding: 30px;
    height: max-content;
}
.dashboard-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dashboard .dashboard-menu > a{
    color: #3B3A3A;
    text-decoration: none;
}
.dashboard-item > a:link{
    color: #30BE57;
    text-decoration: none;
    
}
.dashboard-item{
    width: 300px;
    height: 100px;
    border-radius:12px;
    padding: 14px 18px;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-cinza3);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.dashboard-menu-table body{
    width: 400px;
}
.title-table{
    left: 60%;
    position: fixed;
    padding-bottom: 4px;
    font-weight: 600;
}
#baseIngredienteLink{
    cursor: pointer;
}
/* FIM CONTENT - DASHBOARD */


/* BASE INGREDIENTES */
.btnBaseIngredientes{
    width: 60px;
    padding: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    border-radius: 8px;
}

#iconUserIngredientes{
    width: 28px;
    height: 28px;
}

/* MINHAS RECEITAS */
#title-minhas-receitas{
    font-weight: 500;
}
.content-minhas-receitas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pesquisar-receitas{
    position: relative;
    display: inline-flex;
    align-items: center;
}
.pesquisar-receitas input{
    max-width: 95%;
    width: 300px;
    height: 40px;
    border: none;
    background: #F0F0F0;
    outline: none;

    border-radius: 10px;
    padding: 10px;
    padding-left: 34px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#search-icon-meus-ingredientes{
    width: 16px;
    top: 12px;
    cursor : pointer;
    left: 10px;
    position: absolute;
}
#search-icon-base-ingredientes{
    width: 16px;
    top: 12px;
    cursor : pointer;
    left: 10px;
    position: absolute;
}

#search-icon{
    width: 16px;
    cursor : pointer;
    left: 10px;
    position: absolute;
}


.receitas table th{
    font-weight: 400;
}
.receitas tbody th{
    font-size: 14px;
}

#verReceita , #excluirReceita{
    border:none;
    background: none;
    cursor: pointer;
}

.menu-paginacao{
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 12px;
}

.menu-paginacao button{
    border: none;
    background: none;
    cursor: pointer;
}

#InputPaginacaoReceita{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #F0F0F0;
    text-align: center;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#divBtnReceita{
    margin-top: 16px;
}
.btnCriarReceita{
    width: 250px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;
}
.btn-disable{
    opacity: 30%;
    /* cursor: none; */
    cursor: not-allowed;
}

    /* Criando receita - PROGRESS BAR*/
    .progress-bar{
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .step{
        border: 2px solid #DEDEDE;
        padding: 7px;
        display: flex;
        align-items: center;
        border-radius: 50%;
    }

    .step i{
        font-size: 25px;
        color:#d4d4d4;
    }

    .iconStepActive{
        background-color: var(--cor-laranja);
        border-color: #EE7828;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    .iconStepActive > i{
        color:white;
    }

    .line{
        width: 40px;
        height: 5px;
        border-top: 3px solid #DEDEDE;
    }
    .activeLine{
        border-top: 3px solid var(--cor-laranja);
        
    }

    .ativo{
        display:block;
    }

    /* */
    

/*FORM RECEITA*/
.content-minhas-receitas form>div.ativo{
    display: block;
}

.formReceita{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /* Select Options */
    .inputForm2{
        width: 200px;
        height: 50px;
        background: #DEDEDE;
        border:none;
        border-radius: 10px;
        height: 40px;
        padding-left: 12px;
        outline: none;
        appearance: none;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    #selectOption option[disabled]{
        text-align:center;
    }
    #selectOption{
        font-size: 15px;
    }
    /**/

.btn-group{
    width: 300px;
    align-items: center;
    justify-content: space-between;
}
.btn-voltar, .btn-voltar2{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    color: #838383;
    font-weight: 500;
}
    /*Form-ONE*/
    .container-form-one{
        /*width: 800px;*/
        flex-direction:row;
        flex-wrap: wrap;
        gap:10px;
        justify-content: center;
        align-items: center;
    }

    .form-one{
        /*width:800px;*/
        max-width: 800px;
        display:none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:10px;
    }
    .tituloReceita,.medidaReceita,.glutenReceita,
    .lactoseReceita,.tipoPorcaoReceita,.porcoesEmbaladasReceita,.pesoFinalReceita,.porcaoReceita,.medidaCaseiraReceita
    {
        flex-direction: column;
    }
    .medidaReceita,.glutenReceita,
    .lactoseReceita,.tipoPorcaoReceita{
        position: relative;
    }
    .tituloReceita,.medidaReceita,.glutenReceita,
    .lactoseReceita,.tipoPorcaoReceita select{
        cursor: pointer;
    }

    /*Titulo Receita*/
    .tituloReceita input{
        font-weight: 500;
    }
    /**/
    
    /*Medida Receita*/
    
    .arrow{
        font-size:14px;
        position: absolute;
        top: 35px;
        right: 10px;
        color:#474747;
    }
    /**/

    /*Gluten Receita*/
    
    /**/

    /*Lactose Receita*/

    /**/

    /*Tipo de Porcao Receita*/
    /**/

    /* Form Two */

    .form-two{
        display: none;
    }
    .wrapper{
        width: 350px;

        flex-direction: column;
        align-items: center;
    }
    .wrapper .active .select-btn i{
        transform: rotate(-1000deg);
    }
    .select-btn{
        width: 320px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        background: #F0F0F0;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .select-btn i{
        transition: transform 0.3s linear;
    }
    .content-dropReceita{
        display:none;
        background: #F0F0F0;
        margin-top: 10px;
        width: 320px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    .activeDrop{
        display:block;
    }

    .rotation-icon{
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }


    .search-ingrediente .search-alergenico{
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    #search-ingrediente-input #search-alergenico-input{
        width: 320px;
        height: 35px;
        border-radius: 8px;
        padding: 10px;
        border: 0.5px solid #545454;
        outline: none;

    }
    #search-ingrediente-input {
        background-color: #EE7828;
    }
    .contentCheckbox{
        margin-top: 5px;
        padding: 10px;
    }
    .search-ingrediente ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding:5px;
    }
    .content-dropReceita .optionsIngredientes ,.optionsAlergenicos{
        max-height: 140px;
        overflow-y: auto;
        gap: 8px;
        display:flex;
        flex-direction: column;
        padding: 5px;
    }
    .content-dropReceita .optionsIngredientes li:hover{
        background: #d4d4d4;
    }
    
    .content-dropReceita .optionsAlergenicos li:hover{
        background: #d4d4d4;
    }

    .optionsIngredientes ,.optionsAlergenicos li:hover{
        cursor:pointer;
    }
    .search-ingrediente .optionsIngredientes ul li:hover{
        background-color: #000000;
    }
    .itemsReceita{
        background: var(--cor-cinza3);
        border-radius: 6px;
        width: 320px;
        height: 15em;
        margin-top: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .itemsReceita ul{
        height: 220px;
        list-style: none;
        overflow-y: auto;
    }
    .itemsReceita li{
        border:1px solid red;
        justify-content: space-between;
        align-items: center;
    }
    .itemsReceita li input{
        width: 80px;
        border:none;
        border-radius: 5px;
        padding: 5px;
        outline:none;
    }
    .itemsReceita div{
        flex-direction: column;
    }
    .itemsReceita button{
        display:flex;
        align-items: center;
        border:none;
    }
    .itemsReceita button img{
        width:35px;
    }

    #listaIngredientes{
        display: block;
    }
    
    /* */

    /* Table Ingredientes da Receita */
    .table-ingredientes-da-receita{
        width: 320px;
        height: 16em;
        background: #f0f0f0;
        border-radius:5px;
        margin-top:10px;
        overflow-y: auto;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .table-ingredientes-da-receita table{
        padding:12px;
    }
    .table-ingredientes-da-receita .qtdIngredienteInput{
        flex-direction:column;
    }
    .table-ingredientes-da-receita tbody tr {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #DEDEDE;
        padding:4px;

        font-size:14px;
        width: 300px;
        justify-content: space-between;
    }
    .table-ingredientes-da-receita tbody label{
        font-size: 12px;
        font-weight: 500;
    }
    .table-ingredientes-da-receita tbody input{
        width: 70px;
        border:none;
        outline:none;
        border-radius: 5px;
        padding:2px;
    }
    .table-ingredientes-da-receita #btnApagarIng{
        background: none;
        cursor:pointer;
        border:none;
    }

    /* */

    /* FORM THREE */
    
    .form-three{
        display:none;
    }
    .searchAndBtnAlergenicos{
        display: flex;
        align-items: center;
    }
    .search-alergenico-input{
        width: 300px;
        /*width: 240px;*/
        height: 35px;
        border-radius: 8px;
        padding: 10px;
        
        outline: none;
        margin: 10px;
        background: whitesmoke;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .optionsAlergenicos{
        padding: 8px;
    }
    /* FORM FOUR */
    .form-four{
        display: none;
    }
    .optionsModelosRotulos{
        height: 105px;
        list-style: none;
        overflow-y: auto;
    }
    .optionsModelosRotulos li{
        padding: 5px;
    }
    .optionsModelosRotulos li:hover{
        background: #c47171;
    }

    
    .selectModelosRotulos{
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
        margin-top: 20px;
    }
    .arrow-select-modelos{
        font-size:14px;
        position: absolute;
        top: 15px;
        right: 85px;
        color:#474747;
    }
    .select-btn4{
        width: 350px;
    }

    .tabela-nutricional {
        background-color: #fff;
        padding: 10px;
        /*border-radius: 10px;*/
        /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
        border : 3px solid;
        width: 100%;
        max-width: 600px;
        margin-top: 12px;
    }

    #linhaGrossaTabelaNutricional{
        border: 3px solid;
    }

    #linhaFinaTabelaNutricional{
        border : 2px solid;
    }
    
    .tabela-nutricional h2 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .tabela-nutricional p {
        font-size: 0.9em;
        text-align: left;
        margin: 5px 0;
    }
    
    .tabela-nutricional table {
        width: 100%;
    } 
    
    .tabela-nutricional table th tr{
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    .tabela-nutricional thead th {
        text-align: left;
        padding: 10px;
    }

    .tabela-nutricional tbody{
        border: 1px solid black;
        border-collapse: collapse;
    }

    .tabela-nutricional tbody tr{
        border:2px solid red;
    }
    
    .tabela-nutricional tbody td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .tabela-nutricional tbody tr:last-child td {
        border-bottom: none;
    }

    .tabela-nutricional tbody td:nth-child(13){
        margin-left: 10px;
    }
    /**/

/**/
.btn-submit-receita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-submit-receita button{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    gap: 5px;
}

.container-btn-group{
    display: flex;
    justify-content: center;
}

.hidden{
    display: none;
}

.containerListaItensTabela{
    max-width: 100%;
}

.listaIngredientesTabela, .listaAlergenicosTabela{
    display: flex;
    gap: 4px;
    align-items: center;
}
.listaIngredientesTabela ul{
    display: flex;
    flex-wrap: wrap;
}
.listaIngredientesTabela ,.listaAlergenicosTabela,   ul{
    gap: 4px;
    list-style: none;
}
.listaIngredientesTabela{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}
.listaIngredientesTabela h3{
    font-size: 14px;
    font-weight: 300;
}

.listaAlergenicosTabela{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}
.listaAlergenicosTabela h3{
    font-weight: 300;
    font-size: 14px;
}




/* FIM RECEITAS */


/* MEUS INGREDIENTES */
.titleMeusIngredientes h1{
    font-weight: 500;
}
.container-ingredientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.content-ingredientes{
    width: 100%;
    height: auto;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
/* BOTÃO PESQUISAR*/
.search-box {
    display: flex;
    align-items: center;
    width: 65%;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(223, 223, 223);
}

.search-box img {
    width: 25px;
    margin-left: 10px;
}

.search-box input {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    font-size: 14px;
}
#btnPesquisarReceitaImg{
    background: url("static/img/pesquisar.png");
}
/* FIM BOTÃO PESQUISAR*/


/* TABELA INGREDIENTES*/
.box-2 {
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;
    
    border-collapse: collapse;
    border-radius: 10px;
    width: 90%;
    
    background-color: #F0F0F0;
    font-size: 15px;
    padding: 12px;
    
    overflow-x: auto;
    height: 168px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

th{ 
    white-space: nowrap; /* Impede a quebra de linha */
}

.th-imagemBtn{
    width: 30%;
}


#th-img-btn {
    position: -webkit-sticky; /* Para navegadores Webkit */
    position: sticky;
    right: -12;
    background: #F0F0F0;        
    z-index: 1; /* Para garantir que a coluna fique sobre outras colunas */
}


.box-2 table {
    width: 100%;
    text-align: center;
}
.box-2 thead{
    gap: 50px;
}
.box-2 table tr{
    padding: 40px;
}
.box-2 th {
    padding-left: 15px;
    font-weight: 500;
    font-size: 12px;
}
.box-2 th, .box-2 td {
    margin-left: 50px;
}
.box-2 tbody th{
    font-weight: 400;
}

/* FIM TABELA INGREDIENTES*/


/* BOX*/
.box-3 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 50px auto; 
    align-items: center;
}

.box-3 input {
    text-align: center;
    width: 50px;
    height: 50px;
    outline: none;
    font-size: 20px;
    border: none;
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.box-3 button{
    background: none;
    border: none;
    cursor: pointer;
}

/* FIM BOX*/

/* BOTÃO CRIAR INGREDIENTES*/
.btnCriarIngrediente{
    width: 100px;
    padding: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
}

.box-4{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FIM BOTÃO CRIAR INGREDIENTES*/

/* BOTÃO EDITAR INGREDIENTES*/

#imagem_editar{
    max-width: 75%;
    height: auto
}

.btn-editar{
    width: 50px;
    display:flex;
    border: none;
    justify-content: end;
    align-items: center;
}

th.th-imagemBtn {
    padding: 0; /* Remove qualquer padding que possa afetar o alinhamento */
    margin: 0; /* Remove qualquer margin que possa afetar o alinhamento */
    width: 10px;
}

th.th-imagemBtn input[type="image"] {
    display: block; /* Remove o espaço extra abaixo da imagem */
    margin: 0 auto; /* Centraliza o botão horizontalmente, se necessário */
}

/* FIM BOTÃO EDITAR INGREDIENTES*/




    /* CRIAR INGREDIENTES */
    .containerForm{
        justify-content: center;
    }
    #formularioCriarIngrediente{
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }
    #titulo-insira-valores{
        font-weight: 300;
    }
    .inputs-ingredientes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .inputs-ingredientes input{
        width: 200px;
    }
    .input-ingrediente {
        display: flex;
        flex-direction: column;
    }   
    .input-button{
        flex-direction: column;
        margin-top: 10px;
    }
    .btnCriandoIngrediente{
        width: 200px;
        height: 30px;
        font-weight: 600;
        cursor: pointer;
    }
    
    /* FIM CRIAR INGREDIENTES */

/* FIM MEUS INGREDIENTES */



/* CONTATE-NOS */
.title-contate-nos h1{
    font-weight: 500;
}
.inputs-contate-nos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs-contate-nos input{
    max-width: 100%;
    width: 360px;
}
.formContateNos{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#formularioContateNos{
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
  
.inputForm{
    padding-left: 12px;
    height: 40px;
    outline: none;
    border: 2px solid var(--cor-cinza-light);
    border-radius: 10px;
}
.inputForm:focus{
    border: 2px solid var(--cor-laranja);
}
#id_old_password , #id_new_password1,#id_new_password2{
    padding-left: 12px;
    height: 40px;
    outline: none;
    border: 2px solid var(--cor-cinza-light);
    border-radius: 10px;
}
#id_old_password:focus{
    border: 2px solid var(--cor-laranja); 
}
#id_new_password1:focus{
    border: 2px solid var(--cor-laranja); 
}

#id_new_password2:focus{
    border: 2px solid var(--cor-laranja); 
}

textarea{
    border: 2px solid var(--cor-cinza-light);
    border-radius: 10px;
    padding: 6px;

    outline: none;
    resize: none;
}
textarea:focus{
    border: 2px solid var(--cor-laranja);
}
.mensagem-contate-nos{
    height: 100px;
}
#mensagem-contate-nos{
    top: 0;
    height: 120px;
}
.formButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formButton > button{
    width: 90px;
    height: 30px;
    
}

/* LOADING */
.spinner-background{
    display: none;
}
.spinner-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
    align-items: center;
    justify-content: center;
  }

.spinner {
    animation: rotator 1.4s linear infinite;
  }
  
  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }
  
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash 1.4s ease-in-out infinite,
      colors 5.6s ease-in-out infinite;
  }
  
  @keyframes colors {
    0% { stroke: #4285F4; }
    25% { stroke: #DE3E35; }
    50% { stroke: #F7C223; }
    75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
  }
  
  @keyframes dash {
    0% { stroke-dashoffset: 187; }
    50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }
  
/* FIM LOADING */



/* Fim Contate nos*/


/* Conta*/
.container-telaUser{
    width: 100%;
    height: 84vh;
    margin-top: 10px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;   
}
.caixa1{
    max-width: 80%;
    width: 500px;

    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}
.caixa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caixa-info h1{
    font-weight: 500;
    font-size: 26px;
}
.caixa2{
    max-width: 80%;
    width: 500px;
    height: 60px;
    gap: 20px;

    padding: 30px;
    display: flex;    
    align-items: center;
    border-radius: 10px;
    padding-bottom: 30px;
    background-color: rgb(223, 223, 223);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.container-telaUser a{
    font-size: 20px;
    color: #474747;
}
    /* Info User - CONTA */
    .containerFormUser{
        justify-content: center;
        align-items: center;
    }
    #form-info-user > .divInputUser{
        display: flex;
        flex-direction: column;
        padding:8px;
        width: 300px;
    }
    .buttons-info-user{
        width: 300px;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }
    #btnVoltaInfoUser{
        display: flex;
        align-items: center;
        border: none;
        background: none;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        color: #838383;
    }
    a{
        text-decoration : none;
    }
    .btnAtualizar{
        width: 100px;
        height: 30px;
        padding:3px;
        color:white;
        font-weight: 600;
    }
    .btnAtualizar:hover{
        background: #dd6719;
    }
    
    /* Fim Info User - CONTA */





/*MINHAS ALTERACOES*/
/*#########################################################################*/







.receitas{
    overflow: auto;
    padding:10px;
    margin-top: 10px;
    background: #F0F0F0;
    border-radius: 6px;

    max-width: 95%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}









/**/


.show-more-btn{
    width: 60px;
    font-size: 300px;
    display: inline-block;
    border: none;
    font-size: 15px;
    text-decoration: none;
    border-radius: 3px;
    background: none;
}

.linha-tbody th{
    display: flex;
    font-weight: 400;
    font-size: 14px;
}
.linha-tbody{
    padding-block: 5px;
    justify-content: space-between;
   display: flex;
}

.dashboard-menu-table table{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.dashboard-menu-table{
    width: 400px;
    height: 350px;
    padding: 14px;
    overflow: auto;

    background: var(--cor-cinza3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
   
}

.dashboard-menu-table table tbody tr th{
    margin-inline: 20px;
   padding-bottom: 5px;
}

/*#########################################################################*/








/* Fim Conta */



@media (max-width:867px){
    .content{
        height: auto;
        margin-bottom: 5rem;
    }
    .dashboard{
        align-items: center;
        margin-bottom: 90px;
    }
    .dashboard-menu-table{
        width: 300px;
        height: 200px;
    }

    .-container-telaUser{
        margin-bottom: 70px;
    }
    .form-one{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-left{
        position: fixed;
        bottom: 0;
        z-index: 100;

        background-color: #FFFFFF;
        width: 100%;
        height: 4rem;
        padding:6px;
        /*box-shadow: 0px 0px 0px 2px rgb(223, 223, 223);*/
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .nav-items-lateral{
        flex-direction: row;
    }
}

/* RESPONSIVIDADE */
@media (max-width:840px){
    .buscarMeusIngredientes input{
        width: 190px;
    }
    .btnCriarIngrediente{
        width: 100px;
    }
    /*Pagina inicial -*/
    .section-info-image img{
        max-width: 200px;
    }

    .recursos-content{
        padding:30px;
    }
    .recursos-item{
        width: 350px;
        padding:20px;
    }
    /**/
}

@media (max-width:791px){
    /* Header */
    .container-navbar{
        background-color: #FFFFFF;
    }
    /**/

    /* Principal*/
    .container-principal{
        flex-direction: column-reverse;
    }
}

@media (max-width:761px){
    /* Principal*/
    .recursos-content{
        justify-content: center;
        padding: 20px;
    }
    .recursos-item{
        gap:10px;
    }
    /**/
}

@media (max-width:690px){
    .dashboard{
        flex-direction: column;
    }
}

@media (max-width:645px){
    .container-form-one{
        flex-direction:column;
    }
    .inputForm2{
        width: 300px;
    }
}

@media (max-width:605px){
    
    .section-btn-baixar-app{
        justify-content: center;
        align-items: center;
    }
    /* Pagina inicial*/
    .recursos-item-image img{
        width: 50px;
    }
    .recursos-item-content .recursos-item-title > h1{
        font-size: 18px;
    }
    .section-info-text-title h1{
        font-size: 16px;
    }
    .section-info-text-p p{
        font-size: 12px;
    }

    .container-info .section-info{
        flex-direction: column-reverse;
        align-items: center;
    }
    .container-info{
        /* border: 2px solid red; */
        justify-content: center;
    }
    .section-info{
        width:280px;
        padding:10px;
    }
    .section-info-text-title h1{
        font-size:16px;
    }
    .recursos-item-title h1{
        font-size: 26px;
    }
    .footer-text h1{
        font-size: 18px;
    }
    /**/

    /* Principal */
    .content-title > h1{
        font-size: 18px;
    }
    .dashboard{
        gap: 16px;
    }
    .dashboard-menu{
        gap: 16px;
    }
    .dashboard-item{
        width: 260px;
        height: 90px;
    }
    .dashboard-img img{
        width: 30px;
    }
    
    /**/

    /* Conta */
    .container-telaUser{
        margin-bottom: 40px;
    }
    .caixa2 > div{
        font-size: 18px;
    }
    /*##############################################################*/

    .dashboard-menu-table table{
        display: flex;
        justify-content: space-around;
        margin-top: 2px;
    }
    
    .title-table{
        display: contents;
        padding-bottom: 4px;
        font-weight: 600;
    }
    
    #tresbtn{
        margin-inline: 8px;
        width: 40px;
        background: none;
    }

    .show-more-btn{
        display: none;
    }
    .th-mostar_nome{
        display: flex;
    }

    /*#################################################################*/

}


.input-email-error{
    border: solid 2px red;
}


.text-opacity{
    opacity: 30%;
    padding: 20px;
}
