{% load static %}
{% load pwa %}
{% progressive_web_app_meta %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/short-icon.png'%}">
    <title>WLNutrion - Contate-nos</title>
</head>
<body>
    <nav class="container-navbar">
        <div class="navbar-content">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png'%}">
                </a>
            </div>
            <div class="logo user-navbar">
                <a href="{% url 'minha-conta' %}">
                    <img src="{% static 'img/user.png'%}">
                </a>
            </div>
        </div>
    </nav>  

    <div class="container-pai-de-todos">
        <div class="container-principal flex">
            <div class="nav-left">
                <div class="nav-items-lateral">
                    <div class="item-lateral">
                        <a href="{% url 'home' %}">
                            <img id="image-sidebar" src="{% static 'img/home.png'%}">
                        </a>
                    </div>
    
                    <div class="item-lateral">
                        <a href="{% url 'receitas' %}">
                            <img id="image-sidebar" src="{% static 'img/receita.png'%}">
                        </a>
                    </div>
    
                    <div class="item-lateral">
                        <a href="{% url 'meus-ingredientes' %}">
                            <img id="image-sidebar" src="{% static 'img/ingredientes.png'%}">
                        </a>
                    </div>
    
                    <div class="item-lateral active">
                        <a href="{% url 'contate-nos' %} ">
                            <img id="image-sidebar" src="{% static 'img/fi-rr-headset-active.png' %}">
                        </a>
                    </div>
    
                    <div class="item-lateral">
                        <a href=" {% url 'minha-conta' %}">
                            <img id="image-sidebar" src="{% static 'img/fi-rr-user.png' %}">
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="content">
                <div class="container-content">
                    <div class="content-title title-contate-nos">
                        <h1>Contate-nos</h1>
                    </div>

                    <div class="inputs-contate-nos">
                        <form method="POST" action="{% url 'contate-nos' %}" id="formularioContateNos">
                            {% csrf_token %}
                            <div class="formContateNos">
                                <label for="Email">Para</label>
                                <input name="email-wlnutrion" class="inputForm" type="email" name="campo_fixo" value="wlnutrion@gmail.com" readonly>
                            </div>
                            <div class="formContateNos">
                                <label for="assunto-contate-nos">Assunto</label>
                                <input name="assunto-contate-nos" id="assunto-contate-nos" class="inputForm" type="text" required>
                            </div>
                            <div class="formContateNos">
                                <label for="mensagemContate-nos">Mensagem</label>
                                <textarea name="mensagem-contate-nos" class="mensagem-contate-nos" required id="mensagemContate-nos" cols="30" rows="8"></textarea>
                            </div>
                            <div class="formContateNos formButton">
                                <button id="btnContateNos" type="submit" class="btn-verde">Enviar</button>
                            </div>
                        </form>
                        
                    </div>
                        
                </div>
            </div>

            <div class="spinner-background">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>

        </div>
    
    </div>
    
    <script src="{% static 'js/popUP.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/5.5.1/jquery.min.js"></script>
    
</body>
</html>