<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo/bronk_Vert_Style.css">

    <title>WLN_Rotulos_ HORRIZONTAL_QUEBRADA</title>
</head>
<body>
    <div class="content-rotulos">

        <div class="logo">
            <img src="estilo/img/logo.png" alt="erro">
        </div>
        <h1 style="font-size: xx-large; ">Nome da Receita</h1>

        <div class="tabela-nutricional">
            <div>
                <h2>INFORMAÇÃO NUTRICIONAL</h2>
                <hr style="    background-color: black;padding: 0.50px; ">
              
                <lo>
                    Porção por emb..:<li>Porca: 00g()</li> 
                </lo>
                <hr style="    background-color: black;padding: 3px;">
            </div>
                <div class="divs_table">
                    <table>
                        <tbody >
                        
                            <tr>
                                <th></th>
                                <th>100g</th> 
                                <th>000g</th>
                                <th>% VD*</th>
                            </tr>
                            <tr>
                                <td>Valor Energético (kcal)</td>
                                <td>kcal</td> <!-- kcal g -->
                                <td></td>
                                <td>12%</td>
                            </tr>
                            <tr>
                                <td>Carboidratos totais (g)</td>
                                <td>g</td> <!-- carboidratos  g -->
                                <td></td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td>Açúcares totais (g)</td>
                                <td>g</td> <!-- acucar totais g -->
                                <td></td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td>Açúcares adicionados (g)</td>
                                <td>g</td> <!-- acucar adicionado g -->
                                <td></td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td>Proteínas</td>
                                <td>g</td> <!-- proteinas g -->
                                <td></td>
                                <td>7%</td>
                            </tr>
                            
                        </tbody>
                    </table>
                <div >
                    <table class="tabela2">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>100g</th> 
                                <th>000g</th>
                                <th>% VD*</th>
                            </tr>
                            <tr>
                                <td>Gorduras Totais</td>
                                <td>g</td> <!-- gorduras totais g -->
                                <td></td>
                                <td>18%</td>
                            </tr>
                            <tr>
                                <td>Gorduras Saturadas</td>
                                <td>g</td> <!-- gorduras saturadas g -->
                                <td></td>
                                <td>9%</td>
                            </tr>
                            <tr>
                                <td>Gorduras Trans</td>
                                <td>g</td> <!-- gorduras trans g -->
                                <td></td>
                                <td>**</td>
                            </tr>
                            <tr>
                                <td>Fibra Alimentar</td>
                                <td>g</td> <!-- fibra g -->
                                <td></td>
                                <td>8%</td>
                            </tr>
                            <tr>
                                <td>Sódio</td>
                                <td>mg</td> <!-- sodio mg -->
                                <td></td>
                                <td>12%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="percentual">
                    *Percentual de valores diários fornecidos pela porção.</div>
                </div>
                <div class="containerListaItensTabela">
                    <div class="listaIngredientesTabela flex">
                        <h2>INGREDIENTES:</h2>
                        <!-- NOME DOS INGREDIENTES É ADICIONADO AQUI -->
                    </div>
                    <div class="listaAlergenicosTabela flex ">
                        <h2>ALERGÊNICOS:</h2>
                        <!-- NOME DOS ALERGENICOS É ADICIONADO AQUI -->
                            
                    </div>
                </div>
        
                <div class="content_dominio">
                        <span class="linha_dominio" >________________________________________</span>
                        <div class="dominio"> 
                            <p>dominio.com.br</p>
                        </div>
                        
                </div>
            </div>
    </div>
    
</body>
</html>