{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/horrz_Style.css'%}">
    <script src="{% static 'js/receitaAPI.js'%}"></script>
    <title>WLNUTRION</title>
</head>
<body>
    <div class="content-rotulos">

        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </div>
        <h1 id="nomeReceitaTabelaHorizontal" style="font-size: xx-large; ">Nome da Receita</h1>

        <div class="tabela-nutricional-horizontal">
            <div>
                <h2>INFORMAÇÃO NUTRICIONAL</h2>
                <hr>
                <p>Porção por emb..: <span id="porcoesEmbTabela"></span> 00</p>
                <p>Porção: 00 ml <span id="porcaoTabela"></span> <span id="medidaCaseiraTabela"></span> </p>
                <hr id="linhaGrossaTabelaNutricional">
            </div>
            
            <table>
                <thead class="thead">
                    <tr>
                        <th></th>
                        <th>100g</th> 
                        <th>000g</th>
                        <th>% VD*</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Valor Energético (kcal)</td>
                        <td>kcal</td> <!-- kcal g -->
                        <td></td>
                        <td>12%</td>
                    </tr>
                    <tr>
                        <td>Carboidratos totais (g)</td>
                        <td>g</td> <!-- carboidratos  g -->
                        <td></td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>Açúcares totais (g)</td>
                        <td>g</td> <!-- acucar totais g -->
                        <td></td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td >Açúcares adicionados (g)</td>
                        <td>g</td> <!-- acucar adicionado g -->
                        <td></td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>Proteínas</td>
                        <td>g</td> <!-- proteinas g -->
                        <td></td>
                        <td>7%</td>
                    </tr>
                    <tr>
                        <td>Gorduras Totais</td>
                        <td>g</td> <!-- gorduras totais g -->
                        <td></td>
                        <td>18%</td>
                    </tr>
                    <tr>
                        <td>Gorduras Saturadas</td>
                        <td>g</td> <!-- gorduras saturadas g -->
                        <td></td>
                        <td>9%</td>
                    </tr>
                    <tr>
                        <td>Gorduras Trans</td>
                        <td>g</td> <!-- gorduras trans g -->
                        <td></td>
                        <td>**</td>
                    </tr>
                    <tr>
                        <td>Fibra Alimentar</td>
                        <td>g</td> <!-- fibra g -->
                        <td></td>
                        <td>8%</td>
                    </tr>
                    <tr>
                        <td>Sódio</td>
                        <td>mg</td> <!-- sodio mg -->
                        <td></td>
                        <td>12%</td>
                    </tr>
                    <th >
                        <div class="percentual">*Percentual de valores diários fornecidos pela porção.</div>
                    </th>
                </tbody>
                
            </table>
           
        </div>

        <div class="containerListaItensTabela">
            <div class="listaIngredientesTabela flex">
                <h2>INGREDIENTES:</h2>
                <!-- NOME DOS INGREDIENTES É ADICIONADO AQUI -->
            </div>
            <div class="listaAlergenicosTabela flex ">
                <h2>ALERGÊNICOS:</h2>
                <!-- NOME DOS ALERGENICOS É ADICIONADO AQUI -->
                    
            </div>
        </div>

        <div class="content_dominio">
                <span class="linha_dominio" >________________________________________</span>
                <div class="dominio"> 
                    <p>dominio.com.br</p>
                </div>
                
        </div>
    </div>
    
</body>
</html>