{% load static %}
<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/horrz_Style.css'%}">
    <script src="{% static 'js/receitaAPI.js'%}"></script>
    <title>WLN - Rotulo HORIZONTAL</title>
</head>
<body>
    <div class="content-rotulos">

        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </div>
        <h1 id="nomeReceitaTabelaHorizontal" style="font-size: xx-large; ">{{ Valores.info.NomeReceita }}</h1>

        <div class="tabela-nutricional-horizontal">
            <div>
                <h2>INFORMAÇÃO NUTRICIONAL</h2>
                <hr>
                <p>Porção por embalagem:<span id="porcoesEmbTabela">{{ Valores.info.PorcaoEmb }}</span></p>
                <p>Porção:<span id="porcaoTabela">{{ Valores.info.Porcao }}</span> <span id="medidaCaseiraTabela">({{ Valores.info.MedidaCaseira }})</span></p>
                <hr id="linhaGrossaTabelaNutricional">
            </div>
            
            <table>
                <thead class="thead">
                    <tr>
                        <th></th>
                        <th>100g</th> 
                        <th>{{ Valores.info.Porcao }}g</th>
                        <th>% VD*</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Valor Energético (kcal)</td>
                        <td class="valor-energetico">{{ Valores.totais.ValorEnergetico }}</td> 
                        <td class="valor-energetico">{{ Valores.totaisPorPorcao.ValorEnergetico }}</td>
                        <td class="vd">{{ Valores.VD.ValorEnergetico }}</td>
                    </tr>
                    <tr>
                        <td>Carboidratos totais (g)</td>
                        <td class="carboidratos">{{ Valores.totais.Carboidratos }}</td>
                        <td class="carboidratos">{{ Valores.totaisPorPorcao.Carboidratos }}</td>
                        <td class="vd">{{ Valores.VD.Carboidratos }}</td>
                    </tr>
                    <tr>
                        <td>Açúcares totais (g)</td>
                        <td class="acucares">{{ Valores.totais.AcucaresTotais }}</td>
                        <td class="acucares">{{ Valores.totaisPorPorcao.AcucaresTotais }}</td>
                        <td class="vd"></td>
                    </tr>
                    <tr>
                        <td >Açúcares adicionados (g)</td>
                        <td class="acucares">{{ Valores.totais.AcucaresAdicionais }}</td>
                        <td class="acucares">{{ Valores.totaisPorPorcao.AcucaresAdicionais }}</td>
                        <td class="vd">{{ Valores.VD.AcucaresAdicionais }}</td>
                    </tr>
                    <tr>
                        <td>Proteínas</td>
                        <td class="proteinas">{{ Valores.totais.Proteinas }}</td>
                        <td class="proteinas">{{ Valores.totaisPorPorcao.Proteinas }}</td>
                        <td class="vd">{{ Valores.VD.Proteinas }}</td>
                    </tr>
                    <tr>
                        <td>Gorduras Totais</td>
                        <td class="gorduras">{{ Valores.totais.GordurasTotais }}</td>
                        <td class="gorduras">{{ Valores.totaisPorPorcao.GordurasTotais }}</td>
                        <td class="vd">{{ Valores.VD.GordurasTotais }}</td>
                    </tr>
                    <tr>
                        <td>Gorduras Saturadas</td>
                        <td class="gorduras">{{ Valores.totais.GordurasSaturadas }}</td>
                        <td class="gorduras">{{ Valores.totaisPorPorcao.GordurasSaturadas }}</td>
                        <td class="vd">{{ Valores.VD.GordurasSaturadas }}</td>
                    </tr>
                    <tr>
                        <td>Gorduras Trans</td>
                        <td class="gorduras">{{ Valores.totais.GordurasTrans }}</td>
                        <td class="gorduras">{{ Valores.totaisPorPorcao.GordurasTrans }}</td>
                        <td class="vd">**</td>
                    </tr>
                    <tr>
                        <td>Fibra Alimentar</td>
                        <td class="fibra">{{ Valores.totais.Fibra }}</td>
                        <td class="fibra">{{ Valores.totaisPorPorcao.Fibra }}</td>
                        <td class="vd">{{ Valores.VD.Fibra }}</td>
                    </tr>
                    <tr>
                        <td>Sódio</td>
                        <td class="sodio">{{ Valores.totais.Sodio }}</td>
                        <td class="sodio">{{ Valores.totaisPorPorcao.Sodio }}</td>
                        <td class="vd">{{ Valores.VD.Sodio }}</td>
                    </tr>
                    <th >
                        <div class="percentual">*Percentual de valores diários fornecidos pela porção.</div>
                    </th>
                </tbody>
                
            </table>
           
        </div>

        <div class="containerListaItensTabela">
            <div class="listaIngredientesTabela flex">
                <h2>INGREDIENTES:</h2>
                {% for ingrediente in Valores.listaIngredientes %}
                    <h3>{{ingrediente.NomeIngrediente}}</h3><!-- NOME DOS INGREDIENTES É ADICIONADO AQUI -->
                {% endfor%}<!-- NOME DOS INGREDIENTES É ADICIONADO AQUI -->
            </div>
            <div class="listaAlergenicosTabela flex ">
                <h2>ALERGÊNICOS:</h2>
                {% for alergenico in Valores.listaAlergenicos %}
                    <h3>{{alergenico.NomeAlergenico}}</h3><!-- NOME DOS ALERGENICOS É ADICIONADO AQUI -->
                {% endfor %}
                    
            </div>
        </div>

        <div class="content_dominio">
                <span class="linha_dominio" >________________________________________</span>
                <div class="dominio"> 
                    <p>dominio.com.br</p>
                </div>
                
        </div>
    </div>
    <script src="{% static 'js/arredondaCamposTabela.js' %}"></script>
    <script src="{% static 'js/receitaAPI.js' %}"></script>
</body>
</html>