<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="estilo/linh_Style.css">

    <title>WLN_Rotulos_ LINEAR</title>
</head>
<body>
    <div class="content-rotulos">

        <div class="logo">
            <img src="estilo/img/logo.png" alt="erro">
            
        </div>
        <h1 style="font-size: xx-large; ">Nome da Receita</h1>
        <div class="tabela-nutricional">
            <h2>INFORMAÇÃO NUTRICIONAL</h2>
            <hr>
            <div class="content_porcoes">
                <p>Porção por emb..: <span id="porcoesEmbTabela"></span> 000</p>
                <p> *Porção: 00 ml <span id="porcaoTabela"></span> <span id="medidaCaseiraTabela"></span> </p>
            </div>
          
            <hr id="linhaGrossa">
            
                <tbody>
                        <tr>
                            <th>Por 100g</th> 
                            <th style="font-size: 30px;">(000g,</th>
                            <th>...% VD*):</th>
                        </tr>
                    <tr>
                        <td>Valor Energético 000 </td>
                        <td>kcal</td> <!-- kcal g -->
                        <td>(00 kall ,0%)</td>
                    </tr>
                    <tr>
                        <td> *Carboidratos totais</td>
                        <td>00g</td> <!-- carboidratos  g -->
                        <td>(00g, 0%)</td>
                    </tr>
                    <tr>
                        <td>dos quais Açúcares totais</td>
                        <td>00g</td> <!-- acucar totais g -->
                        <td>(00 g),</td>
                    </tr>
                    <tr>
                        <td >Açúcares adicionados</td>
                        <td>00g</td> <!-- acucar adicionado g -->
                        <td>(00g, 0%)</td>
                    </tr>
                    <tr>
                        <td>*Proteínas</td>
                        <td>00g</td> <!-- proteinas g -->
                        <td>(00g, 0%)</td>
                    </tr>
                    <tr>
                        <td>*Gorduras Totais</td>
                        <td>00g</td> <!-- gorduras totais g -->
                        <td>(00g, 0%)</td>
                    </tr>
                    <tr>
                        <td>Gorduras Saturadas</td>
                        <td>00g</td> <!-- gorduras saturadas g -->
                        <td>(00g, 0%)</td>
                    </tr>
                    <tr>
                        <td>Gorduras Trans</td>
                        <td>00g</td> <!-- gorduras trans g -->
                        <td>(00g, 0%)</td>
                    </tr>
                    <tr>
                        <td>Fibra Alimentar</td>
                        <td>00g</td> <!-- fibra g -->
                        <td>(00g, 0%)</td>
                    </tr>
                    <tr>
                        <td>*Sódio</td>
                        <td>00g</td> <!-- sodio mg -->
                        <td>(00g, 0%)</td>
                    </tr>
                </tbody>
                <hr id="linhaGrossaTabelaNutricional">
            
            <p>*Percentual de valores diários fornecidos pela porção.</p>
        </div>

        <div class="containerListaItensTabela">
            <div class="listaIngredientesTabela flex">
                <h2>INGREDIENTES:</h2>
                <!-- NOME DOS INGREDIENTES É ADICIONADO AQUI -->
            </div>
            <div class="listaAlergenicosTabela flex ">
                <h2>ALERGÊNICOS:</h2>
                <!-- NOME DOS ALERGENICOS É ADICIONADO AQUI -->
                    
            </div>
        </div>

        <div class="content_dominio">
                <span class="linha_dominio" ></span>
                <div class="dominio"> 
                    <p>dominio.com.br</p>
                </div>
                
        </div>
    </div>
    
</body>
</html>