{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/linh_Style.css'%}">
    <script src="{% static 'js/receitaAPI.js'%}"></script>
    <title>WLN_Rotulos_ LINEAR</title>
</head>
<body>
    <div class="content-rotulos">

        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </div>
        <h1 style="font-size: xx-large; ">{{ Valores.info.NomeReceita }}</h1>
        <div class="tabela-nutricional">
            <h2>INFORMAÇÃO NUTRICIONAL</h2>
            <hr>
            <div class="content_porcoes">
                <p>Porção por embalagem: <span id="porcoesEmbTabela">{{ Valores.info.PorcaoEmb }}</span></p>
                <p> *Porção:<span id="porcaoTabela">{{ Valores.info.Porcao }}</span> <span id="medidaCaseiraTabela">({{ Valores.info.MedidaCaseira }})</span> </p>
            </div>
          
            <hr id="linhaGrossa">
            
                <tbody>
                        <tr>
                            <th>Por 100g</th> 
                            <th style="font-size: 30px;">({{ Valores.info.Porcao }}g,</th>
                            <th>...% VD*):</th>
                        </tr>
                    <tr>
                        <td class="valor-energetico">Valor Energético {{ Valores.totais.ValorEnergetico }} </td>
                        <td class="valor-energetico">{{ Valores.totais.ValorEnergetico }}</td> <!-- kcal g -->
                        <td class="valor-energetico">({{ Valores.totaisPorPorcao.ValorEnergetico }} ,</td>
                        <td class="vd">{{ Valores.VD.ValorEnergetico }})</td>
                    </tr>
                    <tr>
                        <td> *Carboidratos totais</td>
                        <td class="carboidratos">{{ Valores.totais.Carboidratos }}</td>
                        <td>({{ Valores.totaisPorPorcao.Carboidratos }}, </td>
                        <td class="vd">{{ Valores.VD.Carboidratos }})</td>
                    </tr>
                    <tr>
                        <td>dos quais Açúcares totais</td>
                        <td class="acucares">{{ Valores.totais.AcucaresTotais }}</td> <!-- acucar totais g -->
                        <td class="acucares">({{ Valores.totaisPorPorcao.AcucaresTotais }}), **)</td>
                    </tr>
                    <tr>
                        <td >Açúcares adicionados</td>
                        <td class="acucares">{{ Valores.totais.AcucaresAdicionais }}</td> <!-- acucar adicionado g -->
                        <td class="acucares">({{ Valores.totaisPorPorcao.AcucaresAdicionais }}, </td>
                        <td class="vd">{{ Valores.VD.AcucaresAdicionais }})</td>
                    </tr>
                    <tr>
                        <td>*Proteínas</td>
                        <td class="proteinas">{{ Valores.totais.Proteinas }}</td> <!-- proteinas g -->
                        <td>({{ Valores.totaisPorPorcao.Proteinas }}, </td>
                        <td class="vd">{{ Valores.VD.Proteinas }})</td>
                    </tr>
                    <tr>
                        <td>*Gorduras Totais</td>
                        <td class="gorduras">{{ Valores.totais.GordurasTotais }}</td> <!-- gorduras totais g -->
                        <td class="gorduras">({{ Valores.totaisPorPorcao.GordurasTotais }}, </td>
                        <td class="vd">{{ Valores.VD.GordurasTotais }})</td>
                    </tr>
                    <tr>
                        <td>Gorduras Saturadas</td>
                        <td class="gorduras">{{ Valores.totais.GordurasSaturadas }}</td> <!-- gorduras saturadas g -->
                        <td class="gorduras">({{ Valores.totaisPorPorcao.GordurasSaturadas }}, </td>
                        <td class="vd">{{ Valores.VD.GordurasSaturadas }})</td>
                    </tr>
                    <tr>
                        <td>Gorduras Trans</td>
                        <td class="gorduras">{{ Valores.totais.GordurasTrans }}</td> <!-- gorduras trans g -->
                        <td class="gorduras">({{ Valores.totaisPorPorcao.GordurasTrans }}, </td>
                        <td>**)</td>
                    </tr>
                    <tr>
                        <td>Fibra Alimentar</td>
                        <td class="fibra">{{ Valores.totais.Fibra }}</td> <!-- fibra g -->
                        <td class="fibra">({{ Valores.totaisPorPorcao.Fibra }}, </td>
                        <td>class="vd">{{ Valores.VD.Fibra }})</td>
                    </tr>
                    <tr>
                        <td>*Sódio</td>
                        <td class="sodio">{{ Valores.totais.Sodio }}</td> <!-- sodio mg -->
                        <td class="sodio">({{ Valores.totaisPorPorcao.Sodio }}, </td>
                        <td class="vd">{{ Valores.VD.Sodio }})</td>
                    </tr>
                </tbody>
                <hr id="linhaGrossaTabelaNutricional">
            
            <p>*Percentual de valores diários fornecidos pela porção.</p>
        </div>

        <div class="containerListaItensTabela">
            <div class="listaIngredientesTabela flex">
                <h2>INGREDIENTES:</h2>
                {% for ingrediente in Valores.listaIngredientes %}
                    <h3>{{ingrediente.NomeIngrediente}}</h3><!-- NOME DOS INGREDIENTES É ADICIONADO AQUI -->
                {% endfor%}
            </div>
            <div class="listaAlergenicosTabela flex ">
                <h2>ALERGÊNICOS:</h2>
                {% for alergenico in Valores.listaAlergenicos %}
                    <h3>{{alergenico.NomeAlergenico}}</h3><!-- NOME DOS ALERGENICOS É ADICIONADO AQUI -->
                {% endfor %}    
            </div>
        </div>

        <div class="content_dominio">
                <span class="linha_dominio" ></span>
                <div class="dominio"> 
                    <p>dominio.com.br</p>
                </div>
                
        </div>
    </div>
    <script src="{% static 'js/arredondaCamposTabela.js' %}"></script>
    <script src="{% static 'js/receitaAPI.js' %}"></script>
</body>
</html>